<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <table class="table">
        <tr>
            <thead>
                <td>nome</td>
                <td>idade</td>
                <td>email</td>
                <td>cargo</td>
                <td>contacto</td>
                <td>cc</td>
            </thead>
        </tr>
        <% for (let i = 0; i < users.length; i++) { %>
        <tr>
            <td><%= users[i].dataValues.nome %> </td>
            <td><%= users[i].dataValues.idade %> </td>
            <td><%= users[i].dataValues.email %> </td>
            <td><%= users[i].dataValues.cargo %> </td>
            <td><%= users[i].dataValues.contacto %> </td>
            <td><%= users[i].dataValues.cc %> </td>
        </tr>    
        <% } %>  
    </table>
    <button><a href="/form">Add client</a></button>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>